@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/lato-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v15-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v15-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%
}

a{
  text-decoration: none;
  color: gray;
  transition: all 1s;
  cursor: pointer;
}
a:hover{
opacity: 0.5;
}
a:visited{
  color: gray;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #ecf0f1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block
}

html.tod-mod-touch * {
  background-attachment: scroll !important
}

.tod-block {
  display: block
}

.tod-inline-block {
  max-width: 100%;
  display: inline-block
}

.tod-clearfix:before,
.tod-clearfix:after {
  content: " ";
  display: table
}

.tod-clearfix:after {
  clear: both
}

p {
  margin-top: 0;
  margin-bottom: 10px
}

#scoreboard{
  font-family: 'Lato', sans-serif;
}

.tod-list-unstyled {
  padding-left: 0;
  list-style: none
}

.tod-row:before,
.tod-row:after {
  content: " ";
  display: table
}

.tod-row:after {
  clear: both
}

.tod-row .tod-row {
  margin-left: 0;
  margin-right: 0
}

.tod-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px
}

.tod-col .tod-col {
  padding-left: 0;
  padding-right: 0
}

.tod-col-1 {
  width: 8.33333333%
}

.tod-col-2 {
  width: 16.66666667%
}

.tod-col-3 {
  width: 25%
}

.tod-col-4 {
  width: 33.33333333%
}

.tod-col-5 {
  width: 41.66666667%
}

.tod-col-6 {
  width: 50%
}

.tod-col-7 {
  width: 58.33333333%
}

.tod-col-8 {
  width: 66.66666667%
}

.tod-col-9 {
  width: 75%
}

.tod-col-10 {
  width: 83.33333333%
}

.tod-col-11 {
  width: 91.66666667%
}

.tod-col-12 {
  width: 100%
}

.tod-hidden-main {
  display: none !important
}

@media screen and (max-width:991px) {
  .tod-container {
    max-width: 728px
  }

  .tod-hidden-main {
    display: inherit !important
  }

  .tod-hidden-medium {
    display: none !important
  }

  .tod-col-medium-1 {
    width: 8.33333333%
  }

  .tod-col-medium-2 {
    width: 16.66666667%
  }

  .tod-col-medium-3 {
    width: 25%
  }

  .tod-col-medium-4 {
    width: 33.33333333%
  }

  .tod-col-medium-5 {
    width: 41.66666667%
  }

  .tod-col-medium-6 {
    width: 50%
  }

  .tod-col-medium-7 {
    width: 58.33333333%
  }

  .tod-col-medium-8 {
    width: 66.66666667%
  }

  .tod-col-medium-9 {
    width: 75%
  }

  .tod-col-medium-10 {
    width: 83.33333333%
  }

  .tod-col-medium-11 {
    width: 91.66666667%
  }

  .tod-col-medium-12 {
    width: 100%
  }

  .tod-col-stack {
    width: 100%;
    left: auto;
    right: auto
  }
}

@media screen and (max-width:767px) {
  .tod-hidden-main {
    display: inherit !important
  }

  .tod-hidden-medium {
    display: inherit !important
  }

  .tod-hidden-small {
    display: none !important
  }

  .tod-row,
  .tod-container .tod-row {
    margin-left: 0;
    margin-right: 0
  }

  .tod-col {
    width: 100%;
    left: auto;
    right: auto
  }

  .tod-col-small-1 {
    width: 8.33333333%
  }

  .tod-col-small-2 {
    width: 16.66666667%
  }

  .tod-col-small-3 {
    width: 25%
  }

  .tod-col-small-4 {
    width: 33.33333333%
  }

  .tod-col-small-5 {
    width: 41.66666667%
  }

  .tod-col-small-6 {
    width: 50%
  }

  .tod-col-small-7 {
    width: 58.33333333%
  }

  .tod-col-small-8 {
    width: 66.66666667%
  }

  .tod-col-small-9 {
    width: 75%
  }

  .tod-col-small-10 {
    width: 83.33333333%
  }

  .tod-col-small-11 {
    width: 91.66666667%
  }

  .tod-col-small-12 {
    width: 100%
  }
}

@media screen and (max-width:479px) {
  .tod-container {
    max-width: none
  }

  .tod-hidden-main {
    display: inherit !important
  }

  .tod-hidden-medium {
    display: inherit !important
  }

  .tod-hidden-small {
    display: inherit !important
  }

  .tod-hidden-tiny {
    display: none !important
  }

  .tod-col {
    width: 100%
  }

  .tod-col-tiny-1 {
    width: 8.33333333%
  }

  .tod-col-tiny-2 {
    width: 16.66666667%
  }

  .tod-col-tiny-3 {
    width: 25%
  }

  .tod-col-tiny-4 {
    width: 33.33333333%
  }

  .tod-col-tiny-5 {
    width: 41.66666667%
  }

  .tod-col-tiny-6 {
    width: 50%
  }

  .tod-col-tiny-7 {
    width: 58.33333333%
  }

  .tod-col-tiny-8 {
    width: 66.66666667%
  }

  .tod-col-tiny-9 {
    width: 75%
  }

  .tod-col-tiny-10 {
    width: 83.33333333%
  }

  .tod-col-tiny-11 {
    width: 91.66666667%
  }

  .tod-col-tiny-12 {
    width: 100%
  }
}


.bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tweet {
  position: relative;
  width: 500px;
  height: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .5);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  transition: all 250ms;
}

.buttons_con {
  margin-top: 20px;
}

.tweet_text {
  padding-top: 10px;
  font-size: 16px;
  line-height: 23px;
}
.tweet_link{
  color:#1B95E0;
  text-decoration:none;
  cursor:pointer
}

.tweet_link:hover{
  text-decoration:underline
}

.btn {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  padding: 15px 25px;
  outline: none;
  font-size: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.btn:hover {
  box-shadow: 0 7px 20px rgba(0,0,0,0.16);
  transform: scale(1.005);
  transition: all 0.15s ease;
}

.btn svg{
  fill: #fff;
}


.buttons_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn2 {
  width: 98%;
  height: 80px;
  float: right;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.profil_img {
  width: 60px;
  float: none;
  border-radius: 100px;
}

.username {
  margin-top: 0px;
  font-size: 20px;
}

.col2 {
  display: inline;
  height: 100%;
  padding-left: 0px;
}

.col3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 700;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 8000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  color: gray;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.loader img{
  opacity: .5;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.text_gray {
  color: rgba(0, 0, 0, .5);
}
.date{
  margin-top: 16px;
}
.col1 {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.twitter_img {
  height: 30px;
  float: right;
}

.meta {
  height: 30px;
  margin-top: 5px;
}

.info_img {
  display: inline;
  height: 20px;
  padding-left: 5px;
  cursor: pointer;
}

.image {
  height: 2px;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 300;
  padding: 25px;
  text-transform: lowercase;
  font-family: 'Lato', sans-serif;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo span{
  opacity: .3;
}

.logo_img {
  height: 10%;
}

.buttons_col2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.wrong {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f6284f;
  box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, .1), 0 0 0 2px #f6284f;
}

.info_text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.col2_meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_img_meta {
  display: inline;
  height: 20px;
  padding-right: 3px;
}

.col1_meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrong_img {
  height: 100px;
  padding-bottom: 10px;
}

.info_emoji {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 60px;
}

.info_text_small {
  width: 300px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

.right {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2ecc71;
  box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, .1), 0 0 0 2px #2ecc71;
}
.hide{
  display:none !important;
}
.imprint {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
#closer{
  position:absolute; 
  opacity: .3; 
  padding-left: 15px;
}
#closer2{
  display: none;
}

.imprint_text{
  width: 500px;
  height: auto;
  padding: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 300;
}
.imprint_text h1{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 300;
}
.imprint_text span{
  opacity: .3;
}
.imprint_text .close{
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}
.nojs {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9000;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: red;
  color: white
  box-shadow: 1px 1px 50px 10px rgba(0, 0, 0, .1), 0 0 0 2px #95a5a6;
}
.nojs a{
  text-decoration: none;
  color: gainsboro;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.info_paragraph {
  margin-top: 10px;
}

.info_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.info_col1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  padding-right: 5px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  ;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info_col2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 5px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.speaker {
  display: block;
  height: 40px;
  margin-top: 5px;
  margin-left: -5px;
  padding: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  float: right;
}
.smooth{
  -webkit-transition: height 1s;
-moz-transition: height 1s;
-ms-transition: height 1s;
-o-transition: height 1s;
transition: height 1s;
}

.exit {
  float: right;
  cursor: pointer;
}


@media (max-width: 991px) {
  .infos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .bg {
    padding: 10px;
    height: auto;
  }

  .imprint_text{
    width: auto;
    height: auto;
  }
  #closer{
    display: none;
  }
  #closer2{
    display: block;
  }

  .btn {
    width: 1005%;
    margin-bottom: 20px;
    height: 90px;
  }
  .logo{
    margin-top: 15px;
  }
  .col2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .wrong {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nojs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .infos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 479px) {
  .bg {
    padding: 10px;
  }

  .tweet {
    position: relative;
    width: 100%;
  }
  .col2 {
    padding-left: 7px;
  }

  .text_gray {
    overflow: visible;
  }

  .info_img {
    padding-left: 0px;
  }

  .wrong {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .info_text {
    font-size: 30px;
    text-align: center;
  }

  .col2_meta {
    padding-left: 34px;
  }

  .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nojs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .infos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .speaker {
    margin-right: -4px;
    padding-left: 0px;
  }
}
